body {
    margin: 0;
    padding: 0;
    background-color:#ec1d23;
    background-image: url('../images/7.jpg');
    background-size: cover;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 40%;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .text-center {
    color: #ec1d23 !important;
  }

  .text-info {
    color: #ec1d23 !important;
  }